# PHP plugin ignore files
**/*.phpunit.result.cache
**/vendor/
**/composer.lock
**/node_modules/
*.php
*.js
*.json
*.lock
*.md
*.txt
*.yml
*.yaml
*.lock
*.log
*.DS_Store
Thumbs.db
.DS_Store
.vscode
tmp