# Dependencies
**/vendor/
**/node_modules/

# Build files
**/*.phpunit.result.cache
**/composer.lock

# System files
*.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/

# Temporary files
tmp/

# WordPress specific (if needed)
# wp-content/
# wp-config.php
tmp/**.DS_Store
